---
import Card from "./Card.astro";
---

<div class="grid grid-cols-1 space-y-3">
  <Card
    title="Personal Website"
    description="My personal website where I share my thoughts and projects with the world."
    sourceCode="https://github.com/errorcodezero/errorcodezero.dev"
    link="https://errorcodezero.dev"
  />
  <Card
    title="Mastodon Plays Snake (Rust)"
    description="Mastodon plays snake but rewritten in rust."
    link="https://mastodon.world/@snake"
    sourceCode="https://github.com/errorcodezero/mastodon-plays-snake-rs"
  />
  <Card
    title="Vector Calc"
    description="Calculator I made for my physics class"
    link="https://github.com/errorcodezero/vector-calc"
    sourceCode="https://github.com/errorcodezero/vector-calc"
  />
  <Card
    title="Dotfiles"
    description="A comfortable set of dotfiles I use."
    link="https://github.com/errorcodezero/dotfiles"
    sourceCode="https://github.com/errorcodezero/dotfiles"
  />
  <Card
    title="Rustlings Solutions"
    description="The place I store all my solutions for rustlings."
    link="https://github.com/errorcodezero/rustlings"
    sourceCode="https://github.com/errorcodezero/rustlings"
  />
  <Card
    title="Advent of Code Solutions"
    description="The place I store all my solutions for advent of code."
    link="https://github.com/errorcodezero/adventofcode"
    sourceCode="https://github.com/errorcodezero/adventofcode"
  />
  <Card
    title="Web Playground"
    description="API created for raspapi.hackclub.com"
    abandoned={true}
    link="https://web-playground.errorcodezero.dev"
    sourceCode="https://github.com/errorcodezero/web-playground"
  />
  <Card
    title="Mastodon Plays Snake"
    description="Snake bot for mastodon. Inspired by polymars' bot for twitter."
    abandoned={true}
    link="https://botsin.space/@snake"
    sourceCode="https://github.com/errorcodezero/mastodon-plays-snake"
  />
  <Card
    title="Fastcardz"
    description="Flashcards app for a hackathon."
    link="https://github.com/errorcodezero/fastcardz"
    sourceCode="https://github.com/errorcodezero/fastcardz"
    abandoned={true}
  />
  <Card
    title="Chomp"
    description="Take a chomp out of diabetes. Hackathon project made in collaboration with Riddhiman Rana."
    abandoned={true}
    link="https://github.com/errorcodezero/chomp"
    sourceCode="https://github.com/errorcodezero/chomp"
  />
  <Card
    title="Lazer"
    description="Powerful feature-packed discord bot."
    abandoned={true}
    link="https://github.com/errorcodezero/lazer-new"
    sourceCode="https://github.com/errorcodezero/lazer-new"
  />
  <Card
    title="Flip"
    description="Discord bot created to learn javascript and discord.js."
    abandoned={true}
    link="https://github.com/errorcodezero/Flip"
    sourceCode="https://github.com/errorcodezero/Flip"
  />
  <Card
    title="UltraAuth"
    description="First program ever written"
    abandoned={true}
    link="https://github.com/errorcodezero/UltraAuth"
    sourceCode="https://github.com/errorcodezero/UltraAuth"
  />
</div>
