---
import { Icon } from "astro-icon/components";

const { title, description, sourceCode, link, abandoned } = Astro.props;
---

{(abandoned) ? 
	<h2 class="text-ctp-subtext0">{title}</h2>
	<p class="text-ctp-subtext0">{description}</p> 
:
	<h2>{title}</h2>
	<p>{description}</p>
}

<div class="flex space-x-3">
{(abandoned) ?
	<a href={sourceCode}><Icon class="text-ctp-red w-7 h-7" name="mdi:code"></a>
	<a href={link}><Icon class="text-ctp-red w-7 h-7" name="mdi:link"></a>
:
	<a href={sourceCode}><Icon class="text-ctp-blue w-7 h-7" name="mdi:code"></a>
	<a href={link}><Icon class="text-ctp-blue w-7 h-7" name="mdi:link"></a>
}

</div>
