---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Header from '~/components/Header.astro';
import FormattedDate from '~/components/FormattedDate.astro';
import Footer from '~/components/Footer.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt, categories } = Astro.props;
import BlogImage from "../components/BlogImage.astro"
import Tags from "../components/Tags.astro"
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="default">
		<Header />
		<main>
			<article>
                <div class="space-y-2">
                    <div>
                        {heroImage && <BlogImage imagePath={`/src/assets${heroImage}`} altText={!heroImageAlt ? "" : heroImageAlt} />}
                    </div>
                    <div>
                        <FormattedDate date={pubDate} />
                        {
                            updatedDate && (
                                <p>
                                    Last updated on <FormattedDate date={updatedDate} />
                                </p>
                            )
                        }
                    </div>
                    <h1>{title}</h1>
                    <Tags data={!categories ? [] : categories}/>
                    <hr />
                </div>
				<div class="blog">
					<slot />
				</div>
			</article>
		</main>
        <Footer/>
	</body>
</html>
