---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Footer from '../components/Footer.astro'

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImageAlt } = Astro.props;
import BlogImage from "../components/BlogImage.astro"
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="default">
		<Header />
		<main>
			<article>
				<div>
					{heroImage && <BlogImage imagePath={`/src/assets${heroImage}`} altText={heroImageAlt} />}
				</div>
				<div class="blog">
						<div>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<p>
										Last updated on <FormattedDate date={updatedDate} />
									</p>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					<slot />
				</div>
			</article>
		</main>
        <Footer/>
	</body>
</html>
